@page
@model Exercicio8.Pages.IndexModel
@{
    ViewData["Title"] = "Produtos";
}

<div class="container mt-5">
    <h2>Lista de Produtos</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Produto</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in Model.Produtos)
            {
                <tr>
                    <td>@produto.Nome</td>
                    <td>@produto.Preco.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Sobre" class="btn btn-info">Sobre o Sistema</a>
</div>